@using UmotaRedEye.Models.Dto
@model KullaniciEditViewModel

@if (Model != null && Model.kullanici != null)
{
    @using (Html.BeginForm("SaveKullanici", "Kullanici", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.kullanici.Id)

        <h4>Kullanıcı Düzenle</h4>

        <div class="form-group">
            <label for="exampleInputEmail1">Ad</label>
            @Html.TextBoxFor(m => m.kullanici.Adi, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Soyad</label>
            @Html.TextBoxFor(m => m.kullanici.Soyadi, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            @Html.TextBoxFor(m => m.kullanici.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Şifre</label>
            @Html.TextBoxFor(m => m.kullanici.Sifre, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Admin</label>
            @Html.CheckBoxFor(m => m.kullanici.Admin, new { @class = "form-control" })
        </div>
        
        <button type="submit" class="btn btn-primary">Kaydet</button>
    }
}
